
<div *ngIf="!onFormActive">
    <button type="button" (click)="newCustomer()" class="btn btn-primary my-3 mx-3">Agregar <i class="fas fa-plus"></i></button>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover responsive">
    <thead>
        <tr class="thead-light">
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Direccion</th>
            <th class="none">Ciudad</th>
            <th class="none">Provincia</th>
            <th class="none">Telefono</th>
            <th class="none">Fecha de nacimiento</th>
            <th>Rol</th>            
            <th class="all">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{ customer.user || "-" }}</td>
            <td>{{ customer.name || "-" }}</td>
            <td>{{ customer.surname || "-" }}</td>
            <td>{{ customer.email || "-" }}</td>
            <td>{{ customer.adress || "-" }}</td>
            <td>{{ customer.city || "-" }}</td>
            <td>{{ customer.province || "-" }}</td>
            <td>{{ customer.phone || "-" }}</td>
            <td>{{ customer.birthdate | date: 'dd/MM/yyyy' || "-" }}</td>
            <td>{{ customer.admin | role }}</td>
            
            <td class="text-center">
                <button type="button" (click)="updateCustomer(customer)" class="btn btn-info btn-sm"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-sm"
                 (click)="deleteCustomer(customer)" title="delete customer"><i class="far fa-trash-alt"></i></button>
            </td>       
        </tr>
        <tr *ngIf="products?.length == 0">
            <td colspan="3" class="no-data-available">No data!</td>
        </tr>
    </tbody>
    </table>
</div>

<div *ngIf="onFormActive && typeForm === 1">
    <app-customer-form [typeForm] = "1"></app-customer-form>
</div>

<div *ngIf="onFormActive && typeForm === 2">
    <app-customer-form [typeForm] = "2" [customer]="customerSelected"></app-customer-form>
</div>

<div *ngIf="onFormActive && typeForm === 3">
    <app-customer-form [typeForm] = "3" [customer]="customerSelected"></app-customer-form>
</div>