.small{
    font-size: 2em;
}

a.remove:hover{
    color: #dc3545;
}

a.quantity-circle {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #b8bfd3;
    display:inline-block;
	position:relative;
    
    justify-content: center;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
}

.quantity-circle span {
    color: #b8bfd3;
    font-size: 1.5em;
    line-height: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    vertical-align: middle;
    justify-content: center;
    position: relative;
    top: -.1em;
    
}