  <!-- Shopping cart template-->

<div *ngIf="!successCheckout; else messageSuccess">  
  <div class="container my-3">
      <h1 class="display-4 small">Mi Carrito <small><span class="badge badge-pill badge-secondary">{{cartItems.length}}</span></small></h1>
      
      <hr>


<div *ngIf="!successCheckout; else messageSuccess">

    <div class="row">
        <div class="col-12 page-section ">
          <h1 class="section-header display-4">Mi Carrito
            <hr>
          </h1>
        </div>
      </div>

  <div class="container my-5">

    <div class="row" *ngIf="cartItems.length > 0; else empty">
      <div class="col-md-8">
        <div class="card mb-4" *ngFor="let item of cartItems">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 my-auto">
                <h6>{{item.prodprov.name}}</h6>
              </div>
              <div class="col-md-3 text-center">
                <h6 class="card-subtitle mb-2 text-muted">Cantidad</h6>
                <a href="javascript:void(0)" (click)="decreaseQuantity(item.prodprov)" class="quantity-circle mr-2"><span class="quantity-circle">-</span></a>
                <span class="align-top">{{item.quantity}}</span>
                <a href="javascript:void(0)" (click)="increaseQuantity(item.prodprov)" class="quantity-circle ml-2"><span class="quantity-circle">+</span></a>
              </div>
              <div class="col-md-2">
                <h6 class="card-subtitle mb-2 text-muted">Precio</h6>
                <p>${{item.prodprov.price}}</p>
              </div>
              <div class="col-md-2">
                <h6 class="card-subtitle mb-2 text-muted">Subtotal</h6>
                <p>${{item.subtotal}}</p>
              </div>
              <div class="col-md-1 my-auto">
                <a class="remove" href="javascript:void(0)" (click)="removeProductFromCart(item.prodprov, 1)"><i class="far fa-trash-alt btn-lg "></i></a>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <ul class="list-group my-1">
                <li class="d-flex justify-content-between my-1">
                    <h4>Items</h4>
                    <h5><span class="badge badge-pill badge-secondary">{{cartItems.length}}</span></h5>
                </li>
                <li class="d-flex justify-content-between my-1">
                    <h4>Total</h4>
                    <h4>${{(cart | async).itemsTotal }}</h4>
                </li>
              </ul>
              <hr>
              <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-lg btn-block">Finalizar Compra</button>
              <button type="button" (click)="goBack()" class="btn btn-outline-success btn-lg btn-block">Continuar Comprando</button>
            </div>
          </div>
          <button class="btn btn-outline-danger my-4" (click)="emptyCart()">Vaciar</button>
      </div>
    </div>

    <ng-template #empty>
      
      <h2>Su carrito está vacio</h2>
      <h5 class="text-muted my-3">Para seguir comprando, navegar por las categorías en el sitio, o busque su producto.</h5>
      <button routerLink="/destacados" class="btn btn-primary mt-3 mb-5">Elegir productos</button>
    </ng-template>


    <!-- Modal -->
  <div *ngIf="!isLogged(); else logged">
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Checkout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <!-- Checkout Form -->

              <div class="container-fluid">
                  <h4 class="mb-3">Datos de Envio</h4>
                    <form class="needs-validation" (submit)="submitForm()" ngNativeValidate>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label for="name">Nombres</label>
                          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name" placeholder="" value="" required>
                          <div class="invalid-feedback">
                            Nombres validos requeridos.
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="lastName">Apellido</label>
                          <input type="text" class="form-control" id="lastName" name="surname" [(ngModel)]="customer.surname" placeholder="" value="" required>
                          <div class="invalid-feedback">
                            Apellido valido requerido.
                          </div>
                        </div>
                      </div>
          
          
                      <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="customer.email" placeholder="usuario@hostname.com">
                        <div class="invalid-feedback">
                          Ingresa una direccion de email valida para proporcionar el seguimiento de la entrega.
                        </div>
                      </div>
          
                      <div class="mb-3">
                        <label for="address">Direccion</label>
                        <input type="text" class="form-control" id="address" name="adress" [(ngModel)]="customer.adress" placeholder="" required>
                        <div class="invalid-feedback">
                          Ingresa direccion de envio.
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4 mb-3">
                          <label for="state">Provincia</label>
                          <select class="custom-select d-block w-100" id="state" name="province" [(ngModel)]="customer.province" required>
                            <option *ngFor="let p of provinces"  [value]="p">{{ p }}</option>
                          </select>
                          <div class="invalid-feedback">
                            Ingrese una provincia.
                          </div>
                        </div>
                        <div class="col-md-8 mb-3">
                          <label for="city">Ciudad</label>
                          <input type="text" class="form-control" id="city" name="city" [(ngModel)]="customer.city" placeholder="" required>
                          <div class="invalid-feedback">
                            Ciudad requerida.
                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Cancelar</button>
                          <button type="submit" class="btn btn-primary" >Finalizar Compra</button>
                        </div>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #messageSuccess>
  <div class="container my-3">
      <h2>Muchas gracias por su compra!</h2>
      <h5 class="alert alert-success">Su pedido fue aceptado y será despachado a la brevedad!</h5>
      <button routerLink="/destacados" class="btn btn-primary mt-3 mb-5">Volver a la página principal</button>
  </div>

</ng-template>

