<div class="container-fluid glow">
  <div class="row">
    <div class="col-md-4 offset-md-1 text-center">
      <h1 class="banner">Todos tus productos en un solo lugar!</h1>  
    </div>
    <div class="col-md-5 offset-md-1">
        <div class="parallelogram">
            <img class="responsive " src="../assets/Bodegon-electrodomesticos.png" alt="">
          </div>
    </div>
  </div>   
</div>

<div class="container-fluid pt-5">
<div class="row">
  <div class="col-12 page-section">
    <h1 class="section-header display-4">Productos destacados<hr></h1>
  </div>
</div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <app-product [products]="products"></app-product>
</div>
</div>

