<div class="row">
<div class="col-lg-3" *ngFor="let prodprov of products">

    <div class="card my-4">
      <a routerLink="/prodprov/{{prodprov._id}}">
        <img class="card-img-top image-responsive" src="./assets/descarga.svg" alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{prodprov.idProduct.name}} </h5>

        <h5><i class="fas fa-dollar-sign"></i> {{ prodprov.price }}</h5>
        <p class="card-text">{{ prodprov.idProduct.description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">ID: {{prodprov._id}}</small>
      </div>
    </div>

</div>
</div>




