<div *ngIf="!onFormActive">
    <button type="button" (click)="newProvider()" class="btn btn-primary my-3 mx-3">Agregar <i class="fas fa-plus"></i></button>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
    <thead>
        <tr class="thead-light">
            <th>CUIT</th>
            <th>Razon Social</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provider of providers">
            <td>{{ provider.cuit }}</td>
            <td>{{ provider.company }}</td>
            <td>{{ provider.adress }}</td>
            <td>{{ provider.phone }}</td>
            <td>
                <button type="button" (click)="updateProvider(provider)" class="btn btn-info btn-sm"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-sm"
                (click)="deleteProvider(provider)" title="delete provider"><i class="far fa-trash-alt"></i></button>
            </td>       
        </tr>
        <tr *ngIf="products?.length == 0">
            <td colspan="3" class="no-data-available">No data!</td>
        </tr>
    </tbody>
    </table>
</div>

<div *ngIf="onFormActive && typeForm === 1">
    <app-provider-form [typeForm] = "1"></app-provider-form>
</div>

<div *ngIf="onFormActive && typeForm === 2">
    <app-provider-form [typeForm] = "2" [provider]="providerSelected"></app-provider-form>
</div>

<div *ngIf="onFormActive && typeForm === 3">
    <app-provider-form [typeForm] = "3" [provider]="providerSelected"></app-provider-form>
</div>