<div *ngIf="typeForm === 1">
    <div class="container">
        <div *ngIf="uploadProdProv === 0;else successmessage">
            <h1>Crear nuevo producto de proveedor</h1>
            <div class="row">
                <div class="col-md-6">
                <form (ngSubmit)="saveProdProv()" name="saveProdProv" action="#" >
                    <div class="form-group">
                    <label for="product">Tipo de producto:</label>
                    <select [(ngModel)]="newprodprov.idProduct" class="form-control" placeholder="Tipo de producto" name="product">
                        <option *ngFor="let prod of products" [value]="prod._id">
                        {{ prod.name }}
                        </option>
                    </select>              
                    </div>
                    <div class="form-group">
                        <label for="provider">Proveedor:</label>
                        <select [(ngModel)]="newprodprov.idProvider" class="form-control" placeholder="Proveedor" name="provider">
                        <option *ngFor="let prov of providers" [value]="prov._id">
                            {{ prov.company }}
                        </option>
                        </select>              
                    </div>  
                    <div class="form-group">
                    <label for="price">Precio:</label>
                    <input type="number" class="form-control" [(ngModel)]="newprodprov.price" name="price" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <input type="text" class="form-control" [(ngModel)]="newprodprov.description" name="description" required>
                    </div>    
                    <div class="form-group">
                    <button type="submit" class="btn btn-success" >Guardar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <ng-template #successmessage>
            <br>
            <div class="alert alert-success" role="alert">
                Producto agregado correctamente!
            </div>
        </ng-template>
    </div>

    <div class="container">
        <div *ngIf="uploadImage === 1" >
            <h4>Agregar imágen al producto:</h4>
            <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
            <input type="file" class="file" name="photo" ng2FileSelect [uploader]="uploader" />
            <!-- button to trigger the file upload when submitted -->
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            Cargar imágen
            </button>
        </div>
        
        <div *ngIf="uploadSuccess === 1">
            <div  class="alert alert-success" role="alert">
                Imágen agregada correctamente!
            </div>
            <div>
            <button type="button" class="btn btn-primary btn-s" (click)="refresh()">
                Agregar otro
            </button> | 
            <button type="button" class="btn btn-link btn-s" (click)="goBack()">
                Volver
            </button>
            </div>
        </div>
    </div>
</div>    