
  <div class="container">
          <h1>Crear nuevo producto de proveedor</h1>
          <div class="row">
            <div class="col-md-6">
              <form (ngSubmit)="saveProdProv()" name="saveProdProv" action="#" >
                <div class="form-group">
                  <label for="product">Tipo de producto:</label>
                  <select [(ngModel)]="newprodprov.idProduct" class="form-control" placeholder="Tipo de producto" name="product">
                    <option *ngFor="let prod of products" [value]="prod._id">
                      {{ prod.name }}
                    </option>
                  </select>              
                </div>
                <div class="form-group">
                    <label for="provider">Proveedor:</label>
                    <select [(ngModel)]="newprodprov.idProvider" class="form-control" placeholder="Proveedor" name="provider">
                      <option *ngFor="let prov of providers" [value]="prov._id">
                        {{ prov.company }}
                      </option>
                    </select>              
                  </div>  
                <div class="form-group">
                  <label for="price">Precio:</label>
                  <input type="number" class="form-control" [(ngModel)]="newprodprov.price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <input type="text" class="form-control" [(ngModel)]="newprodprov.description" name="description" required>
                  </div>             
                <div class="form-group">
                  <button type="submit" class="btn btn-success" >Guardar</button>
                </div>
              </form>
            </div>
          </div>
  </div>
