<!--
<div *ngIf="product">
  <h2>{{ product.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ product.id}}</div>
</div>
<button (click)="goBack()">go back</button>
-->

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Categoria</a></li>
            <li class="breadcrumb-item active" aria-current="page">Subcategoria</li>
        </ol>
    </nav>

    <!-- Page Content -->
    <div class="container">
        
      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">

          <!-- Portfolio Item Heading -->
          <h1 class="my-4"> {{ product.name }}
            <small>ID: {{ product.id }} </small>
          </h1>
          <hr>
          
          <h3 class="my-3">Descripción</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          <hr>
          <h3 class="my-3"><small class="text-muted">Precio en un pago</small></h3>
          <h3><i class="fas fa-dollar-sign"></i> 5000</h3>
          <div class="my-4">
            <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-cart-plus"></i> Comprar</button>
          </div>
          
        </div>

      </div>
      <!-- /.row -->
      <button type="button" (click)="goBack()" class="btn btn-success my-4"><i class="fas fa-chevron-circle-left"></i> Volver</button>
    </div>
