<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 offset-md-1 my-auto">
          <a class="navbar-brand" routerLink="/destacados">
            <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="logo" alt="">
          </a>
      </div>
      <div class="col-md-7 my-auto">
          <app-product-search></app-product-search>
      </div>
      <div class="col-md-2 my-auto">
          <nav class="navbar navbar-expand-lg navbar-light my-0">
              <div class="justify-content-md-center">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Ingresar <i class="far fa-user-circle"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/checkout"><i class="fas fa-shopping-cart"></i> <span class="badge badge-primary">0</span></a>
                  </li>
                </ul>
              </div>
            </nav>   
      </div>
    </div>     
  </div>
</div>

<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item dropdown" *ngFor="let category of categories">
              <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.name }}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ng-container *ngFor="let subcategory of category.subcategory">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="goPath(subcategory._id)">
                        {{ subcategory.name}}
                    </a>
                </ng-container>
              </div>
             
            </li>
          </ul>
        </div>
        
      </nav>
</div>
