.header{
    background: #ffffff;
    border-bottom: 1px solid #EEEEEE;
    padding: 2em 0 2em 0;
}

.shadow{
    box-shadow: 0 4px 2px -2px #00000041;
}

.logo{
    width: 70px;
}

input.shadow:hover{
    -webkit-box-shadow: 0px 9px 12px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 9px 12px -8px rgba(0,0,0,0.25);
    box-shadow: 0px 9px 12px -8px rgba(0,0,0,0.25);
}

/* Show the dropdown menu on hover */
.dropdown:hover>.dropdown-menu {
    display: block;
}