<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 offset-md-1 my-auto">
          <a class="navbar-brand" routerLink="/destacados">
            <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="logo" alt="">
          </a>
      </div>
      <div class="col-md-7 my-auto">
          <div class="input-group mb-3">
              <input type="text" class="form-control shadow" placeholder="Buscar productos" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary shadow" type="button"><i class="fas fa-search"></i></button>
              </div>
            </div>
      </div>
      <div class="col-md-2 my-auto">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="justify-content-md-center">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Ingresar <i class="far fa-user-circle"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> <span class="badge badge-primary">0</span></a>
                  </li>
                </ul>
              </div>
            </nav>
      </div>
    </div>
      
      
  </div>
</div>
<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">TV, Audio y Video <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tecnologia y Celulares </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electrodomesticos y Aires Ac.</a>
              </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown08">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

</div>