<div *ngIf="typeForm === 1">
  <div class="container">
    <h1>Crear nueva Subcategoria</h1>
    <div class="row">
        <div class="col-md-6">
        <form (ngSubmit)="saveSubcategory()" name="saveSubcategory" action="#" >
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="newsubcategory.name" name="name" required>
          </div>  
          <div class="form-group">
            <label for="category">Categoria:</label>
            <select [(ngModel)]="newsubcategory.category" class="form-control" placeholder="Categoria" name="category">
                <option *ngFor="let cat of categories" [value]="cat._id">
                {{ cat.name }}
                </option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" >Guardar</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>
<div *ngIf="typeForm === 2">
    <div class="container">
      <h1>Modificar Subcategoria</h1>
      <div class="row">
          <div class="col-md-6">
          <form (ngSubmit)="updateSubcategory()" name="saveSubcategory" action="#" >
              <div class="form-group">
                <label for="user">Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="newsubcategory.name" value="{{subcategory.name}}" name="name" required>
              </div> 
            <div class="form-group">
              <label for="category">Categoria:</label>
              <select [(ngModel)]="newsubcategory.category" class="form-control" placeholder="Categoria" name="category">
                  <option *ngFor="let cat of categories" [value]="cat._id">
                  {{ cat.name }}
                  </option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" >Guardar</button>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>        