/* You can add global styles to this file, and also import other style files */
@import url("https://use.fontawesome.com/releases/v5.0.2/css/all.css");
.bg-purple{
    background: #3c43a4;
}

.bg-red{
    background: #ff5063;
}
.image-detail-size{
    max-height: 750px;
    max-width: 500px;
}
.dataTables_empty {
    display: none;
}
.no-data-available {
    text-align: center;
}

hr {
    background-color: #ffffff;
    border-width: 2px;
    width: 2em;
  }
  
  .page-section {
    display: table;
    width: 100%;
    height: 10em;
    color: #ffffff;
    background: -webkit-linear-gradient(-18deg, #2657eb 0%, #46ed91 100%);
    background-image: url('/assets/bg-page-section.png');
    background-image: url('/assets/bg-page-section.png'), -webkit-linear-gradient(-18deg, #2657eb 0%, #46ed91 100%);
  }
  
  .section-header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }