<footer class="footer bg-dark text-white pt-2">
  <section>

      <div class="container py-3">
       
          <div class="row">
            <div class="col-md-1 offset-md-2 my-auto">
              <a class="navbar-brand" routerLink="/destacados">
                <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="logo" alt="">
              </a>
            </div>

            <div class="col-md-2 offset-md-1">
              <h5 class="font-weight-bold">Contacto</h5>
              <address>
                  <ul class="navbar-nav">
                    <li class="nav-link"> <i class="fas fa-map-marker-alt"></i> Rosario, Santa Fe</li>
                    <li class="nav-link"> <i class="fas fa-graduation-cap"></i> UTN FRRo</li>
                    <li class="nav-link"> <i class="fas fa-phone"></i> 0800 333 444</li>
                    <li class="nav-link"> <i class="fab fa-git"></i> <a href="https://github.com/andresm96/ttads-ecommerce">Git Repository</a></li>
                  </ul>
                </address>
            </div>

         
              
              <div class="col-md-3 offset-md-1 my-auto text-center">
                  <h4 class="mb-3"><strong>Encontranos</strong></h4>
                  <ul class="social-network social-circle">
                      <li><a href="https://www.linkedin.com" target="_blank" class="icoLinkedin social" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                       <li><a href="https://github.com" target="_blank" class="icoGithub social" title="Github"><i class="fab fa-git"></i></a></li>
                      <li><a href="https://www.facebook.com" target="_blank" class="icoFacebook social" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://plus.google.com" target="_blank" class="icoGoogle social" title="Google +"><i class="fab fa-google-plus-g"></i></a></li>  
                  </ul>
              </div>
              
            

          </div>
          <hr>
          
          <div class="my-0">
            Copyright <i class="far fa-copyright"></i> TTADS E-commerce 2018 - Martin Bianchi - Andrés Malvestiti.
          </div>
        </div>
  </section>
  
</footer>
