<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center" href="javascript:void(0)" routerLink="/destacados"><i class="fas fa-home"></i> Home</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="javascript:void(0)" (click)="logout()" routerLink="/destacados"><i class="fas fa-sign-out-alt"></i> Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row my-2">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/products" routerLinkActive="active" href="javascript:void(0)"> 
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/prodprovs" routerLinkActive="active" href="javascript:void(0)"> 
              Productos-Proveedores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/providers" routerLinkActive="active" href="javascript:void(0)"> 
              Proveedores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/categories" routerLinkActive="active" href="javascript:void(0)"> 
              Categorias
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/subcategories" routerLinkActive="active" href="javascript:void(0)"> 
              Subcategorias
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/users" routerLinkActive="active" href="javascript:void(0)"> 
              Usuarios
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="table-responsive">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>



<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>