<div class="container-fluid my-4">
  <div class="row">
    <nav class="col-sm-3 col-md-2">
      <div class="list-group my-3">

        <a routerLink="/dashboard/products" routerLinkActive="active" 
        class="list-group-item list-group-item-action">Productos</a>

        <a routerLink="/dashboard/prodprovs" routerLinkActive="active" 
        class="list-group-item list-group-item-action">Productos-Proveedores</a>

        <a routerLink="/dashboard/providers" routerLinkActive="active" 
        class="list-group-item list-group-item-action">Proveedores</a>

        <a routerLink="/dashboard/categories" routerLinkActive="active" 
        class="list-group-item list-group-item-action">Categorias</a>

        <a routerLink="/dashboard/subcategories" routerLinkActive="active" 
        class="list-group-item list-group-item-action">Subcategorias</a>

        <a routerLink="/dashboard/users" routerLinkActive="active" 
        class="list-group-item list-group-item-action">Usuarios</a>

      </div>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Dashboard
        <small>Section title</small>
      </h1>
      <hr>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>