<div class="container-fluid my-4">
  <div class="row">
    <nav class="col-sm-3 col-md-2">
      <div class="list-group my-3">
        <button class="list-group-item list-group-item-action" >Productos</button>
        <a href="#" class="list-group-item list-group-item-action">Proveedores</a>
        <button href="#" class="list-group-item list-group-item-action">Categorias</button>
        <a href="#" class="list-group-item list-group-item-action">Subcategorias</a>
        <a href="#" class="list-group-item list-group-item-action">Usuarios</a>
      </div>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Dashboard
        <small>Section title</small>
      </h1>
      <hr>
      <app-abm-list></app-abm-list>
    </main>
  </div>
</div>